<header class="site-header">
  <div class="container header-row">
    <a class="brand" href="/">
      <img class="brand-logo" src="/vinyl-archive-logo.svg" alt="Vinyl Archive" />
    </a>
    <nav class="site-nav">
      <a href="/albums/new" class="btn btn-ghost">Add Record</a>
    </nav>
  </div>
</header>
